/*html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1c1c1c;
}
*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 6px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 6px;
}
.form-signin-button{
    background-color: white;
    color: #1c1c1c;
    font-size: 15px;
    border-style: none;
    border-radius: 10px;
    height: 35px;
    width: 80px;
    
}